/* Standard tags */
body
{
	background-color:#FFFFFF;
	color:#000000;
	font-family: Verdana, Arial, Helvetica, sans-serif, "MS sans serif";
	font-size:x-small;
	font-weight:normal;

}

table
{
	font-family:Verdana, Arial, Helvetica, sans-serif, "MS sans serif";
	font-size:x-small;
}
tr
{
	font-family:Verdana, Arial, Helvetica, sans-serif, "MS sans serif";
	font-size:x-small;
}
td
{
	font-family:Verdana, Arial, Helvetica, sans-serif, "MS sans serif";
	font-size:x-small;
}
b{
	font-weight:bold;
}

p
{
	font-family:Verdana, Arial, Helvetica, sans-serif, "MS sans serif";
	line-height: normal;
	margin-top: 0.5em;
	margin-bottom: 0.5em;



}
div
{
	font-family:Verdana, Arial, Helvetica, sans-serif, "MS sans serif";
}
a
{
	font-family:Verdana, Arial, Helvetica, sans-serif, "MS sans serif";
	text-decoration:none;
}

/* Normal body text links */
a:link
{
	color:#000099;
	font-family:Verdana,Arial,Helvetica,sans-serif,"MS sans serif";
	text-decoration:none;
}

a:visited
{
	color:#000088;
	font-family:Verdana, Arial, Helvetica, sans-serif, "MS sans serif";
	text-decoration:none;	
}
a:active
{
	font-family:Verdana,Arial,Helvetica,sans-serif,"MS sans serif";
	text-decoration:none;
	color:#000099;
}
a:hover
{
	font-family:Verdana,Arial,Helvetica,sans-serif,"MS sans serif";
	text-decoration:underline;
	color:#6666CC;
}

a.ext:link
{
	font-family:Verdana,Arial,Helvetica,sans-serif,"MS sans serif";
	text-decoration:none;
	color:#990000;
}

a.ext:visited
{
	font-family:Verdana, Arial, Helvetica, sans-serif, "MS sans serif";
	text-decoration:none;
	color:#880000;
}

a.ext:active
{
	font-family:Verdana,Arial,Helvetica,sans-serif,"MS sans serif";
	text-decoration:none;
	color:#990000;
}

a.ext:hover
{
	color:#CC6666;
	font-family:Verdana,Arial,Helvetica,sans-serif,"MS sans serif";
	text-decoration:underline;
}

/* 最上方的标题 */
h1
{
	color: #0000FF;
	font-family: Verdana, Arial, Helvetica, sans-serif, "MS sans serif";
	font-size: small;
	line-height: normal;
	background-image: url('../images/blue_gradient_1024x24.jpg');
	background-repeat: repeat-y
}


H2
{
	color: #000080;
	font-family: Verdana, Arial, Helvetica, sans-serif, "MS sans serif";
	font-size: small;
	font-weight: bold;
	line-height: normal;
}

H3
{
	color: #000080;
	font-family: Verdana, Arial, Helvetica, sans-serif, "MS sans serif";
	font-size: x-small;
	font-weight: bold;
	line-height:normal;
}

.code
{
	font-family:"Courier New", Courier, mono;
	font-size: x-small;
	white-space:nowrap;
}

.codeheader
{
	background-color: #FFFFAA
	border-bottom: #AAAAAA 1px solid;
	border-left: #AAAAAA 1px solid;
	border-right: #AAAAAA 1px solid;
	border-top: #AAAAAA 1px solid;
	PADDING-RIGHT: 16px;
	PADDING-LEFT: 16px;
	PADDING-BOTTOM: 16px;
	PADDING-TOP: 16px;
	font-family: Courier New, Courier, Verdana, Arial;
	font-size: x-small;
	color: #000000;
	white-space:normal;
}

.codebox
{
	background-color: #fafcfe
	border-bottom: #AAAAAA 1px solid;
	border-left: #AAAAAA 1px solid;
	border-right: #AAAAAA 1px solid;
	border-top: #AAAAAA 1px solid;
	color:#465584;
	font-family: Courier New, Courier, Verdana, Arial;
	font-size: x-small;
	PADDING-RIGHT: 8px;
	PADDING-LEFT: 8px;
	PADDING-BOTTOM: 8px;
	PADDING-TOP: 8px;
	WHITE-SPACE: normal;
}
/* 自定义函数 √*/
.S0
{
	background: #FFFFFF;
	color: #5CC53C;
}
/* 注释 √*/
.S1
{
	font-family:"Verdana" , "Courier New", "Courier", "mono"; WHITE-SPACE: pre-wrap
	background: #FFFFFF;
	color: #009933;
	font-style:italic;
}
/* 未知 */
.S2
{
	background: #FFFFFF;
	color: #669900;
	font-style:italic;
}
/* 数字 √*/
.S3
{
	font-family: "Arial","Courier New", "Courier", "Verdana";
	background: #FFFFFF;
	color: #AC00A9;
}
/* 函数 √*/
.S4
{
	font-family: "Courier New", "Courier", "Verdana","Arial";
	font-weight: bold;
	background: #FFFFFF;
	color: #A000A0;
}
/* 关键字 √*/
.S5
{
	background: #FFFFFF;
	color: #0000FF;
	font-weight: bold;
}
/* 宏 √*/
.S6
{
	background: #FFFFFF;
	color: #FF33FF;
	font-weight: bold;
}
/* 字符串 √*/
.S7
{
	background: #FFFFFF;
	color: #A31515;
}
/* 运算符,标点 √*/
.S8
{
	font-weight: bold;
	background: #FFFFFF;
	color: #0000FF;
}
/* 变量 √*/
.S9
{
	font-weight: bold;
	background: #FFFFFF;
	color: #B990DB;
}
/* 未知 */
.S10
{
	font-weight: bold;
	background: #FFFFFF;
	color: #FF8800;
}
/* 预处理指令 √*/
.S11
{
	background: #FFFFFF;
	color: #0000FF;
	font-style: italic;
}
/* 未知 */
.S12
{

	background: #FFFFFF;
	color: #A00FF0;
	font-style: italic;

}
/* 未知 */
.S15
{
	font-style: italic;
	font-weight: bold;
	background: #f0f5fa;
	color:#0080ff;
}
/* 未知 */
span
{
	background: #FFFFFF;
	color: #000000;
	font-family: 'Courier New';
	font-size: 10pt;
}
/* 实验性函数 */
.experimental
{
	background: lightyellow;
	border:solid;
	border-color:red;
	font-size:large;
	font-weight: bold;
	padding:4px;
}
