/* Standard tags */
body{background-color:#FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif, "MS sans serif";font-size:x-small;font-weight:normal;color:#000000;}
table{font-family:Verdana, Arial, Helvetica, sans-serif, "MS sans serif";font-size:x-small;}
tr{font-family:Verdana, Arial, Helvetica, sans-serif, "MS sans serif";font-size:x-small;}
td{font-family:Verdana, Arial, Helvetica, sans-serif, "MS sans serif";font-size:x-small;}
b{font-weight:bold;}
p{
	font-family:Verdana, Arial, Helvetica, sans-serif, "MS sans serif";
	line-height: normal;
	margin-top: 0.5em;
	margin-bottom: 0.5em;



}
div{font-family:Verdana, Arial, Helvetica, sans-serif, "MS sans serif";}
a{font-family:Verdana, Arial, Helvetica, sans-serif, "MS sans serif";text-decoration:none;}

/* Normal body text links */
a:link   {font-family:Verdana,Arial,Helvetica,sans-serif,"MS sans serif";text-decoration:none;color:#000099;}
a:visited{font-family:Verdana, Arial, Helvetica, sans-serif, "MS sans serif";text-decoration:none;color:#000088;}
a:active {font-family:Verdana,Arial,Helvetica,sans-serif,"MS sans serif";text-decoration:none;color:#000099;}
a:hover  {font-family:Verdana,Arial,Helvetica,sans-serif,"MS sans serif";text-decoration:underline;color:#6666CC;}

a.ext:link   {font-family:Verdana,Arial,Helvetica,sans-serif,"MS sans serif";text-decoration:none;color:#990000;}
a.ext:visited{font-family:Verdana, Arial, Helvetica, sans-serif, "MS sans serif";text-decoration:none;color:#880000;}
a.ext:active {font-family:Verdana,Arial,Helvetica,sans-serif,"MS sans serif";text-decoration:none;color:#990000;}
a.ext:hover  {font-family:Verdana,Arial,Helvetica,sans-serif,"MS sans serif";text-decoration:underline;color:#CC6666;}
/* 最上方的标题 */
H1 {
	font-family: Verdana, Arial, Helvetica, sans-serif, "MS sans serif";
	font-size: small;
	line-height: normal;
	color: #0000FF;
	background-image: url('../images/blue_gradient_1024x24.jpg');
	background-repeat: repeat-y
}


H2 {
	font-family: Verdana, Arial, Helvetica, sans-serif, "MS sans serif";
	font-size: small;
	font-weight: bold;
	color: #000080;
	line-height: normal;
}

H3 {
	font-family: Verdana, Arial, Helvetica, sans-serif, "MS sans serif";
	font-size: x-small;
	font-weight: bold;
	color: #000080;
	line-height: normal;
}


.code {
	font-family: "Courier New", Courier, mono;
	font-size: x-small;
	white-space: nowrap;
}

.codeheader {
	BORDER-BOTTOM: #AAAAAA 1px solid;
	BORDER-LEFT: #AAAAAA 1px solid;
	BORDER-RIGHT: #AAAAAA 1px solid;
	BORDER-TOP: #AAAAAA 1px solid;
	PADDING-RIGHT: 16px;
	PADDING-LEFT: 16px;
	PADDING-BOTTOM: 16px;
	PADDING-TOP: 16px;
	FONT-SIZE: x-small;
	FONT-FAMILY: Courier New, Courier, Verdana, Arial;
	COLOR: #000000;
	WHITE-SPACE: normal;
	BACKGROUND-COLOR: #FFFFAA
}

.codebox {
	BORDER-BOTTOM: #AAAAAA 1px solid;
	BORDER-LEFT: #AAAAAA 1px solid;
	BORDER-RIGHT: #AAAAAA 1px solid;
	BORDER-TOP: #AAAAAA 1px solid;
	PADDING-RIGHT: 8px;
	PADDING-LEFT: 8px;
	PADDING-BOTTOM: 8px;
	PADDING-TOP: 8px;
	FONT-SIZE: x-small;
	FONT-FAMILY: Courier New, Courier, Verdana, Arial;
	COLOR: #465584;
	WHITE-SPACE: normal;
	BACKGROUND-COLOR: #fafcfe
}
/* 自定义函数 √*/
.S0 {
	color: #5CC53C;
	background: #FFFFFF;
}
/* 注释 √*/
.S1 {
	FONT-FAMILY:"Verdana" , "Courier New", "Courier", "mono"; WHITE-SPACE: pre-wrap
	font-style: italic;
	color: #009933;
	background: #FFFFFF;
}
/* 未知 */
.S2 {
	font-style: italic;
	color: #669900;
	background: #FFFFFF;
}
/* 数字 √*/
.S3 {
	FONT-FAMILY: "Arial","Courier New", "Courier", "Verdana";
/*	font-style: italic;	*/
/*	font-weight: bold;	*/
	color: #AC00A9;
	background: #FFFFFF;
}
/* 函数 √*/
.S4 {
	FONT-FAMILY: "Courier New", "Courier", "Verdana","Arial";
/*	font-style: italic;	*/
	font-weight: bold;
	color: #A000A0;
	background: #FFFFFF;
}
/* 关键字 √*/
.S5 {
	font-weight: bold;
	color: #0000FF;
	background: #FFFFFF;
}
/* 宏 √*/
.S6 {
	font-weight: bold;
	color: #FF33FF;
	background: #FFFFFF;
}
/* 字符串 √*/
.S7 {
/*	font-weight: bold;	*/
	color: #A31515;
	background: #FFFFFF;
}
/* 运算符,标点 √*/
.S8 {
	font-weight: bold;
	color: #0000FF;
	background: #FFFFFF;
}
/* 变量 √*/
.S9 {
	font-weight: bold;
	color: #B990DB;
	background: #FFFFFF;
}
/* 未知 */
.S10 {
	font-weight: bold;
	color: #FF8800;
	background: #FFFFFF;
}
/* 预处理指令 √*/
.S11 {
	font-style: italic;
	color: #0000FF;
	background: #FFFFFF;
}
/* 未知 */
.S12 {
	font-style: italic;
	color: #A00FF0;
	background: #FFFFFF;
}
/* 未知 */
.S15 {
	font-style: italic;
	font-weight: bold;
	color: #0080FF;
	background: #f0f5fa;
}
/* 未知 */
span {
	font-family: 'Courier New';
	color: #000000;
	background: #FFFFFF;
	font-size: 10pt;
}
/* 未知 */
.experimental {
	border: solid;
	font-size: large;
	padding: 4px;
	border-color: red;
	font-weight: bold;
	background: lightyellow;
}
