' This INI sets the Defaults for AutoIt3Wrapper which can be overridden by the Compiler Directives
' Use 1 for Yes and 0 for No on options like Allow_Decompile,UseUPX and UseAnsi
' See documentation for an explanation on purpose of the fields and their values

' AutoIt section for aut2exe and AutoIt3 
[Autoit]
aut2exe=
Icon=
OutfileType=
Compression=
PassPhrase=
Allow_Decompile=
UseUpx=
UseAnsi=

' Resource update section
[Res]
Language=
Comment=
Description=
Fileversion=
LegalCopyright=
Field1Name=
Field1Value=
Field2Name=
Field2Value=

[Other]
Run_AU3Check=
AU3Check_Stop_OnWarning=
AU3Check_Parameter=
Run_Before=
Run_After=

[Config]
ResHackerPath=
RCExePath=